.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Muller';
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-2 {
  font-family: 'Muller';
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-4 {
  font-family: 'Muller';
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Muller';
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Muller';
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #b2ebf2 !important;
}
.bg-info {
  background-color: #c7dbf8 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff4081 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c7dbf8 !important;
  border-color: #c7dbf8 !important;
  color: #1552ab !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #7aa9ee !important;
  border-color: #7aa9ee !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #1552ab !important;
  background-color: #7aa9ee !important;
  border-color: #7aa9ee !important;
}
.btn-info,
.btn-info:active {
  background-color: #c7dbf8 !important;
  border-color: #c7dbf8 !important;
  color: #1552ab !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #7aa9ee !important;
  border-color: #7aa9ee !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1552ab !important;
  background-color: #7aa9ee !important;
  border-color: #7aa9ee !important;
}
.btn-success,
.btn-success:active {
  background-color: #b2ebf2 !important;
  border-color: #b2ebf2 !important;
  color: #18808d !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #68d8e5 !important;
  border-color: #68d8e5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #18808d !important;
  background-color: #68d8e5 !important;
  border-color: #68d8e5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4081 !important;
  border-color: #ff4081 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #e8004f !important;
  border-color: #e8004f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e8004f !important;
  border-color: #e8004f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c7dbf8;
  color: #c7dbf8;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #7aa9ee !important;
  background-color: transparent!important;
  border-color: #7aa9ee !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #1552ab !important;
  background-color: #c7dbf8 !important;
  border-color: #c7dbf8 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #c7dbf8;
  color: #c7dbf8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #7aa9ee !important;
  background-color: transparent!important;
  border-color: #7aa9ee !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #1552ab !important;
  background-color: #c7dbf8 !important;
  border-color: #c7dbf8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #b2ebf2;
  color: #b2ebf2;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #68d8e5 !important;
  background-color: transparent!important;
  border-color: #68d8e5 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #18808d !important;
  background-color: #b2ebf2 !important;
  border-color: #b2ebf2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline {
  background-color: transparent ;
  border-color: #ff4081;
  color: #ff4081;
}

.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active,
.btn-danger-outline:active {
  background-color: #00bcd4!important;
  border-color: #00bcd4!important;
  color: #fff!important;
}

.btn-danger-outline:hover {
  color: #fff!important;
  background-color: #e8004f;
  border-color: #e8004f ;
  box-shadow: none;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4081 !important;
  border-color: #ff4081 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #c7dbf8 !important;
}
.text-success {
  color: #b2ebf2 !important;
}
.text-info {
  color: #c7dbf8 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff4081 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #6ca1ed !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #5bd4e3 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #6ca1ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #d9004a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c7dbf8;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff4081;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muller';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Muller';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #c7dbf8 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-szEjRmQ4iR {
  background-color: #191919;
}
.cid-szEjRmQ4iR .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-szEjRmQ4iR .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-szEjRmQ4iR .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-szEjRmQ4iR .text-wrapper {
    padding: 0 2rem;
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .cid-szEjRmQ4iR .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-szEjRmQ4iR .mbr-section-title {
  color: #ffffff;
}
.cid-szEjRmQ4iR .mbr-text,
.cid-szEjRmQ4iR .mbr-section-btn {
  color: #ffffff;
}
.cid-szKSWwKvKg {
  z-index: 1000;
  width: 100%;
}
.cid-szKSWwKvKg nav.navbar {
  position: fixed;
}
.cid-szKSWwKvKg .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-szKSWwKvKg .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-szKSWwKvKg .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-szKSWwKvKg .dropdown-item:hover,
.cid-szKSWwKvKg .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-szKSWwKvKg .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-szKSWwKvKg .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-szKSWwKvKg .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-szKSWwKvKg .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-szKSWwKvKg .nav-link {
  position: relative;
}
.cid-szKSWwKvKg .container {
  display: flex;
  margin: auto;
}
.cid-szKSWwKvKg .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-szKSWwKvKg .dropdown-menu,
.cid-szKSWwKvKg .navbar.opened {
  background: #272d48 !important;
}
.cid-szKSWwKvKg .nav-item:focus,
.cid-szKSWwKvKg .nav-link:focus {
  outline: none;
}
.cid-szKSWwKvKg .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-szKSWwKvKg .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-szKSWwKvKg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-szKSWwKvKg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-szKSWwKvKg .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-szKSWwKvKg .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-szKSWwKvKg .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(39, 45, 72, 0.3);
}
.cid-szKSWwKvKg .navbar.opened {
  transition: all 0.3s;
}
.cid-szKSWwKvKg .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-szKSWwKvKg .navbar .navbar-logo img {
  width: auto;
}
.cid-szKSWwKvKg .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-szKSWwKvKg .navbar.collapsed {
  justify-content: center;
}
.cid-szKSWwKvKg .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-szKSWwKvKg .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-szKSWwKvKg .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-szKSWwKvKg .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-szKSWwKvKg .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-szKSWwKvKg .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-szKSWwKvKg .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-szKSWwKvKg .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-szKSWwKvKg .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-szKSWwKvKg .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-szKSWwKvKg .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-szKSWwKvKg .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-szKSWwKvKg .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-szKSWwKvKg .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-szKSWwKvKg .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-szKSWwKvKg .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-szKSWwKvKg .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-szKSWwKvKg .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-szKSWwKvKg .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-szKSWwKvKg .navbar.navbar-short {
  min-height: 60px;
}
.cid-szKSWwKvKg .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-szKSWwKvKg .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-szKSWwKvKg .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-szKSWwKvKg .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-szKSWwKvKg .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-szKSWwKvKg .dropdown-item.active,
.cid-szKSWwKvKg .dropdown-item:active {
  background-color: transparent;
}
.cid-szKSWwKvKg .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-szKSWwKvKg .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-szKSWwKvKg .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-szKSWwKvKg .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #272d48;
}
.cid-szKSWwKvKg .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-szKSWwKvKg .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-szKSWwKvKg ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-szKSWwKvKg .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-szKSWwKvKg button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-szKSWwKvKg button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-szKSWwKvKg button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-szKSWwKvKg button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-szKSWwKvKg button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-szKSWwKvKg button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-szKSWwKvKg nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-szKSWwKvKg nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-szKSWwKvKg nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-szKSWwKvKg nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-szKSWwKvKg .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-szKSWwKvKg a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-szKSWwKvKg .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-szKSWwKvKg .navbar {
    height: 70px;
  }
  .cid-szKSWwKvKg .navbar.opened {
    height: auto;
  }
  .cid-szKSWwKvKg .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sB4z5FNgiE {
  background-image: url("../../../assets/images/6771-2000x1125.jpeg");
}
.cid-sB4z5FNgiE .mbr-section-title {
  color: #ffffff;
}
.cid-szKLi6NFJf {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #191919;
}
@media (min-width: 1500px) {
  .cid-szKLi6NFJf .container {
    max-width: 1400px;
  }
}
.cid-szKLi6NFJf .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #00bcd4;
  margin-bottom: 2rem;
}
.cid-szKLi6NFJf .card-wrapper {
  margin-top: 3rem;
  border-radius: 50px;
  background-color: #252525;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.cid-szKLi6NFJf .row {
  justify-content: center;
}
.cid-szKLi6NFJf .card-text {
  color: #ffffff;
}
.cid-szKLi6NFJf .mbr-section-title {
  color: #ffffff;
}
.cid-szKLi6NFJf .card-title,
.cid-szKLi6NFJf .iconfont-wrapper {
  color: #ffffff;
}
.cid-szKm6HEXtA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-szKm6HEXtA .content-wrapper {
  background: #222222;
  border-radius: 50px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cid-szKm6HEXtA .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-szKm6HEXtA .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-szKm6HEXtA .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-szKm6HEXtA .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-szKm6HEXtA .content-wrapper .text-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.cid-szKm6HEXtA .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-szKm6HEXtA .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-szKm6HEXtA .mbr-text,
.cid-szKm6HEXtA .mbr-section-btn {
  color: #ffffff;
}
.cid-szKoZgakhk {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-szKoZgakhk .content-wrapper {
  background: #222222;
  border-radius: 50px;
  overflow: hidden;

}
@media (max-width: 991px) {
  .cid-szKoZgakhk .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-szKoZgakhk .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-szKoZgakhk .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-szKoZgakhk .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-szKoZgakhk .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-szKoZgakhk .content-wrapper .text-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.cid-szKoZgakhk .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-szKoZgakhk .mbr-text,
.cid-szKoZgakhk .mbr-section-btn {
  color: #ffffff;
}
.cid-sAuUFswii3 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #191919;
}
@media (min-width: 1500px) {
  .cid-sAuUFswii3 .container {
    max-width: 1400px;
  }
}
.cid-sAuUFswii3 .mbr-iconfont {
  font-size: 5rem;
  color: #00bcd4;
  margin-bottom: 2rem;
}
.cid-sAuUFswii3 .card-wrapper {
  margin-top: 3rem;
  background-color: #252525;
  border-radius: 50px;
  padding: 1rem;
}
.cid-sAuUFswii3 .row {
  justify-content: center;
}
.cid-sAuUFswii3 .card-text {
  color: #ffffff;
}
.cid-sAuUFswii3 .card-title,
.cid-sAuUFswii3 .iconfont-wrapper {
  color: #b2ebf2;
}
.cid-sAuUFswii3 .mbr-section-title {
  color: #ffffff;
}
.cid-sB5fw2Abaq {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #191919;
}
.cid-sAuWzme0VT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #191919;
}
.cid-sAuWzme0VT .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-sAuWzme0VT .mbr-content-text {
  color: #ffffff;
}
.cid-sAuWzme0VT .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-sAuWzme0VT .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-sAuWzme0VT .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-sAuWzme0VT .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-sAuWzme0VT .card-img {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sAuWzme0VT .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-sAuWzme0VT .count {
  color: #00bcd4;
  text-align: left;
}
.cid-sAuWzme0VT H4 {
  color: #b2ebf2;
}
.cid-sB4NFmNWNx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sB4NFmNWNx img,
.cid-sB4NFmNWNx .item-img {
  width: 80%;
}
.cid-sB4NFmNWNx .item:focus,
.cid-sB4NFmNWNx span:focus {
  outline: none;
}
.cid-sB4NFmNWNx .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sB4NFmNWNx .item-wrapper {
  position: relative;
  border-radius: 50px;
  background: #222222;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sB4NFmNWNx .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sB4NFmNWNx .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sB4NFmNWNx .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sB4NFmNWNx .mbr-section-title {
  color: #ffffff;
}
.cid-sB4NFmNWNx .mbr-text,
.cid-sB4NFmNWNx .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-sB4NFmNWNx .item-title {
  text-align: left;
  color: #b2ebf2;
}
.cid-sB4NFmNWNx .item-subtitle {
  text-align: left;
}
.cid-sB4NFmNWNx .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sAuUZpVGMW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #191919;
}
.cid-sAuUZpVGMW h2 {
  text-align: center;
}
.cid-sAuUZpVGMW h3 {
  text-align: center;
  font-weight: 300;
}
.cid-sAuUZpVGMW p {
  color: #767676;
}
.cid-sAuUZpVGMW img {
  object-fit: cover;
}
.cid-sAuUZpVGMW .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-sAuUZpVGMW .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-sAuUZpVGMW .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-sAuUZpVGMW .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sAuUZpVGMW .card-title {
  font-weight: 500;
}
.cid-sAuUZpVGMW .card-img {
  text-align: inherit;
}
.cid-sAuUZpVGMW .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-sAuUZpVGMW .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-sAuUZpVGMW .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sAuUZpVGMW .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-sAuUZpVGMW .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-sAuUZpVGMW .card:nth-child(1) {
    padding-bottom: 0 !important;
  }
}
.cid-sAuUZpVGMW .mbr-section-title {
  color: #ffffff;
}
.cid-sAuUZpVGMW .mbr-crt-title {
  color: #00bcd4;
}
.cid-sAuUZpVGMW .mbr-section-text {
  color: #ffffff;
}
.cid-sAuXaIcVOm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sAuXaIcVOm img,
.cid-sAuXaIcVOm .item-img {
  width: 100%;
}
.cid-sAuXaIcVOm .item:focus,
.cid-sAuXaIcVOm span:focus {
  outline: none;
}
.cid-sAuXaIcVOm .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sAuXaIcVOm .item-wrapper {
  position: relative;
  border-radius: 50px;
  background: #222222;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}
@media (min-width: 992px) {
  .cid-sAuXaIcVOm .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sAuXaIcVOm .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sAuXaIcVOm .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sAuXaIcVOm .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sAuXaIcVOm .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sAuXaIcVOm .mbr-section-title {
  color: #ffffff;
}
.cid-sAuXaIcVOm .mbr-text,
.cid-sAuXaIcVOm .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-sAuXaIcVOm .item-title {
  text-align: center;
  color: #b2ebf2;
  text-shadow: #b2ebf242 1px 5px 5px;
}
.cid-sAuXaIcVOm .item-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-sAAJlLIFAj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sAAJlLIFAj .video-wrapper iframe {
  width: 100%;
}
.cid-sAAJlLIFAj .mbr-section-title,
.cid-sAAJlLIFAj .mbr-section-subtitle,
.cid-sAAJlLIFAj .mbr-text {
  text-align: center;
}
.cid-sAAJlLIFAj .mbr-section-title {
  color: #ffffff;
}
.cid-sB4jM1rVpj {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #191919;
}
.cid-sB4jM1rVpj .mbr-section-title {
  color: #ffffff;
}
.cid-sB4jTxgEyy {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sB4jTxgEyy .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sB4jTxgEyy .row {
    flex-direction: column-reverse;
  }
  .cid-sB4jTxgEyy .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sB4jTxgEyy .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sB4jTxgEyy .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-sB4jTxgEyy .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sB4jLaIq2N {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #191919;
}
.cid-sB4jLaIq2N .mbr-section-title {
  color: #ffffff;
}
.cid-sAAOlOI6rj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sAAOlOI6rj .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sAAOlOI6rj .row {
    flex-direction: column-reverse;
  }
  .cid-sAAOlOI6rj .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sAAOlOI6rj .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sAAOlOI6rj .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-sAAOlOI6rj .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sAuX5JmVik {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #191919;
}
.cid-sAuX5JmVik .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sAuX5JmVik .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sAuX5JmVik .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #b2ebf2;
}
.cid-sAuX5JmVik .panel-body,
.cid-sAuX5JmVik .card-header {
  padding: 1rem 0;
}
.cid-sAuX5JmVik .panel-title-edit {
  color: #ffffff;
}
.cid-sAuX5JmVik H3 {
  color: #ffffff;
}
.cid-sAuX5JmVik .panel-text {
  color: #ffffff;
}
.cid-sB4KjFbOCC {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #191919;
}
.cid-sB4KjFbOCC .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sB4KjFbOCC .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sB4KjFbOCC .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sB4KjFbOCC .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sB4KjFbOCC .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sB4KjFbOCC .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sB4KjFbOCC .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sB4KjFbOCC .media-container-row .social-list .mbr-iconfont-social {
  font-size: 2rem;
  color: #ffffff;
}
.cid-sB4KjFbOCC .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sB4KjFbOCC .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sB4KjFbOCC .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sB4KjFbOCC .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sB4KjFbOCC .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sB4KjFbOCC .media-container-row .row-copirayt p {
  width: 100%;
}


.cid-szKm6HEXtA .content-wrapper {
  padding: 0;
}

.cid-szKoZgakhk .content-wrapper {
  padding: 0;
}

.cid-sAuXaIcVOm .item-wrapper .item-content {
  padding: 0;
}

.cid-sB4jTxgEyy .diplomas{
  padding-left: 50px;
  padding-right: 50px;
}

.cid-sAuUFswii3 .problems {
  padding-left: 50px;
  padding-right: 50px;
}

.cid-sAAOlOI6rj .reviews {
  padding-left: 50px;
  padding-right: 50px;
}

a {
  color: #fff;
}

a:hover {
  color: #ff4081!important;
}

.cid-sAuXaIcVOm .subtitle-shadow {
  text-shadow: #ffffff4a 1px 5px 10px;
}

.cid-sAuUFswii3 .card-wrapper img {
  width: 30%;
}

.cid-sAuUFswii3 .card-wrapper .iconfont-wrapper {
  display: flex;
  justify-content: center;
}